@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:wght@100;300;400;500;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #040714;
  color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #f9f9f9;
  text-decoration: none;
}

/*Desktop/Large screens*/
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/*small screen/mobile phone*/
@media only screen and (min-width: 480px) and (max-width: 768px) {
  body {
    font-size: 15px;
  }
}

/*smaller screen*/
@media only screen and (max-width: 479px) {
  body {
    font-size: 14px;
  }
}
